{% extends 'base.html' %} {% block title %}Kokpit{% endblock %} {% block content
%}
<div class="mt-4">
  <h1>Kokpit</h1>

  <div class="row g-3 my-3">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Serwery</h5>
          <p class="card-text display-6">{{ server_count }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Zadania kopii</h5>
          <p class="card-text display-6">{{ task_count }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Pliki</h5>
          <p class="card-text display-6">{{ file_count }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
