{% extends 'base_auth.html' %} {% block title %}Logowanie{% endblock %} {% block content
%}
      <div class="container mt-5" style="max-width: 400px">
        <h2 class="mb-4 text-center">Logowanie</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
          <div class="mb-3">
            <label for="username" class="form-label">Nazwa użytkownika</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Hasło</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Zaloguj</button>
        </form>
      <div class="text-center mt-3">
        <a href="{{ url_for('auth.reset_password') }}" class="text-decoration-none">
          Nie pamiętasz hasła?
        </a>
      </div>
      </div>
{% endblock %}
